</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
<script src="/dom-to-image.min.js"></script>
</body>

</html>