<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receiptify</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <div id="login">
        <h1>Receiptify</h1>
        <h2>Top Track Generator</h2>