<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Receiptify</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/styles.css" />
</head>

<body>
  <div class="container">
    <div id="login">
      <h1>Receiptify</h1>
      <h2>Top Track Generator</h2>
      <a href="/login" class="login-btn">Log in with Spotify</a>
      <a href="/applemusic" class="login-btn apple" id="apple-music-authorize">Log in with Apple Music</a>
      <a href="/lastfm" class="login-btn lastfm">Last.fm</a>
      <p class="info">
        This website was inspired by the Instagram account
        <a href="https://www.instagram.com/albumreceipts/" target="_blank">@albumreceipts</a>!
      </p>
      <p class="info">
        Made by
        <a href="https://michellexliu.me/" target="_blank">Michelle Liu</a>.
      </p>
      <p class="info">
        <a href="https://paypal.me/mchelleliu" target="_blank">PayPal</a> |
        <a href="https://venmo.com/Michelle-Liuu" target="_blank">Venmo</a>
      </p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
    <script src="/dom-to-image.min.js"></script>
</body>

</html>