@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: "receipt";
  src: url("Merchant_Copy.ttf") format("truetype");
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 0px;
  margin-top:0px;
}
h2 {
  font-size: 2.5rem;
  margin-top: 0px;
}
.container h2 {
  text-align: center;
}
p {
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
}
.logo {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 3.3rem;
  text-align: center;
  padding-top: 15px;
}
.info {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}
.period {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 15px;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-btn {
  margin: 2vh auto;
  text-align: center;
  text-decoration: none;
  padding: 2vh 4vh;
  background-color: #1db954;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
  width: 100%;
  display: block;
  max-width: 295px;
}

.apple {
  background-color: #f94c57;
}

.lastfm {
  background-color: black;
}

.time-btn {
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 1vh 5vh;
  background-color: #0056ff;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Geneva, Tahoma, sans-serif;
  margin: 0vh 1vh;
  width: auto;
}
.login-btn:hover {
  text-decoration: none;
  color: white;
}
#options,
#appleoption {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hidden {
  display: none;
}
#loggedin,
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date {
  margin: 0vh;
}
.tracks {
  margin: 5px 0vh;
}
#receipt {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 25px auto;
}
.username-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}
.username-input * {
  margin: 2%;
}
.receiptContainer {
  background-image: url("wrinkled-paper-texture-7.jpg");
  background-position: center;
  width: 340px;
  filter: brightness(110%);
  padding: 20px;
  text-transform: uppercase;
}
.begin {
  padding-left: 0vh;
}
#download {
  margin-top: 2vh;
}
p,
table,
.date {
  font-family: "receipt", "Courier New", Courier, monospace;
  font-size: 2.1rem;
  line-height: 2rem;
}

#login p {
  font-size: 1.5rem;
}

table {
  border: none;
}
.total-counts {
  border-top: 1px dashed;
}
.total-counts-end {
  border-bottom: 1px dashed;
}
thead {
  border-top: 1px dashed;
  border-bottom: 1px dashed;
}
td {
  padding: 2px 10px;
  vertical-align: top;
}
.name {
  width: 225px;
  overflow: auto;
}
.length {
  text-align: right;
  padding-left: 10px;
  padding-right: 0px;
}
.website {
  margin-bottom: 0px;
  text-transform: lowercase;
}
.thanks {
  text-align: center;
  padding: 15px 0px;
}
.thanks img {
  width: 70%;
}

/** -- Added for Anthems Partnership --**/
.header-section {
  margin-top: 20px;
  width: 964px;
}

.seperator {
  width: 100%;
  padding: 0 30%;
}

.seperator hr {
  width: 100%;
  border-top: 1px solid #E5E5E5;
}

.announcing-text {
  color: #FD1200;
  border-radius: 35px;
  width: 105px;
  height: 28px;
  background-color: #FAE6E6;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 4px 0;
}

.middle-container {
  text-align: center;
}

.middle-container .title {
  font-family: "Helvetica Neue";
  font-size: 32px;
  font-weight: bold;
  padding: 24px 2px 16px 2px;
}

.middle-container .subtitle {
  font-family: "Helvetica Neue";
  font-size: 18px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 8px;
}

.store-icons {
  width: 284.74px;
  height: 40px;
  margin: 16px;
  cursor: pointer;
}

.anthems-logo {
  width: 178.04px;
  height: 40px;
  margin: 16px;
  cursor: pointer;
}

.mixes-promo {
  width: 368px;
  height: 294.49px;
  background-image: url(assets/img/mixes-promo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 55px;
  cursor: pointer;
}
/** -- End of Added for Anthems Partnership --**/

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  #loggedin,
  #login {
    width: 100%;
  }
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  #options {
    flex-direction: column;
  }
  #loggedin,
  #login {
    width: 100%;
  }
  .time-btn {
    margin: 1vh auto;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 900px) {

  .header-section {
    width: 100%;
    padding: 0 32px;
  }

  .seperator {
    padding: 0;
  }

  .mixes-promo {
    background-image: url(assets/img/mixes-promo-mobile.jpg);
    width: auto;
    height: 190.96px;
    max-width: 337px;
  }

  .middle-container {
    padding: 0 20px;
  }
}

@media (max-width: 330px) {
  .header-section {
    padding: 0 15px;
  }
}